.body-container{
	height: 83vh;
	background-color: white;
	display: flex;
    padding: 0px 0px 0px 0px;
	border-left: 7px solid black;
	border-bottom: 10px solid black;
	border-right: 10px solid black;
}


.side-space{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	flex: 1;
	background-color: #f1f1f1;
	margin-right: 10px;
	align-items: center;
	/* justify-content: center; */
}


.main-body{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	flex: 3;
	background-color: #f1f1f1;
	align-items: center;
	
}