.body-container .main-body .task-heading{
    display: flex;
	width: 93%;
	background-color: white;
	height: 12%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  	transition: 0.3s;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 5px;
      
}

/* .body-container .main-body .task-heading:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
} */
  
.main-body .task-heading .text-or-logo{
    font-size: 25px;
    font-style: italic;
    font-weight: 500;
}