.form-popup input{
	width: 100%;
	margin-top: 25px;
	border-radius: 0px;
	outline: none;
	border: none;
	border-bottom: 1px solid black;
	padding: 5px 0;
}


/* The popup form - hidden by default */
.form-popup {
	max-width: 350px;
	background-color: transparent;
	position: fixed;
	top: 10%;
	left:37%;
	right: 15px;
	border: 3px solid #f1f1f1;
	z-index: 2;
}

/* Add styles to the form container */
.form-container {
	max-width: 350px;
	padding: 25px;
	background-color: white;
}

.form-popup .create-new-account{
	width: 100%;
	font-size: 20px;
	text-align:center;
	/*background-color: red;*/ 
}

.form-popup .create-account-button{
	width: 100%;
	font-size: 15px;
	text-align:center;
	padding: 5px 10px 5px 10px;
	margin-top: 30px;
	border: none;
	outline: none;
	/*background-color: red;*/ 
}

.form-popup .close-signup-button{
	width: 100%;
	font-size: 16px;
	text-align:center;
	padding: 5px 10px 5px 10px;
	/*margin: 0px 0 20px 0;*/
	margin-top: 25px;
	border: none;
	outline: none;
	/*background-color: red;*/ 
}